body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10%;
}
.half-width{
    width: 80%;
    padding-left: 5%;
    padding-right: 10%;
    margin-top: 8%;
}
.half-width img{
    width: 80%;
    padding-left: 5%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 30px
}
.about-me{
  background-image: url(images/shapes/7.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
